celery.sqlite
celerybeat-schedule
django-errors.log
Week2-1.slides.html
celery.sqlite
.ipynb_checkpoints/Week2-0-checkpoint.ipynb
.ipynb_checkpoints/Week2-1-checkpoint.ipynb
.ipynb_checkpoints/Week2-2-checkpoint.ipynb
.ipynb_checkpoints/Week2-3-checkpoint.ipynb
.ipynb_checkpoints/Week2-0-checkpoint.ipynb
.ipynb_checkpoints/Week2-1-checkpoint.ipynb
celery.sqlite
celery.sqlite
